body {
    background-color: rgb(18, 9, 0);
}
#wrapper{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10% 60% 50% 10%;
    grid-template-areas: 
    'hd'
    'nv'
    'sc'
    'mn'
    'ft'
    ;
}
header{
    grid-area: hd;
    h1 {
        color: aliceblue;
    }
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center ;
}
nav{
    grid-area: nv;
}
section{
    grid-area: sc;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
section img{
    height: 423px;
    border-radius: 7px;
    border: 50px;
    border
}
main{
    grid-area: mn;
}
footer{
    grid-area: ft;
}