@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito&display=swap');


#wrapper{
    grid-template-areas: 
    'hd hd hd'
    'mn mn mn'
    'personer personer personer'
    'info info info'
    'personal personal personal'
    ;
}
body{
    width: auto;
    margin: 0;
}
.logo{
    height: 10vh;
}

.header{
    display: grid;
    grid-area: hd;
    background-color: #43009B;
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: center;    
    object-fit: cover;

}
#navigation a{
    color: white;
    font-size: x-large;
    justify-content: space-between;
    background-color: #43009B;
    padding: 9px;
}
.main{
    display:grid;
    font-family: 'nunito';
    grid-area: mn;
    width: auto;
    justify-content: center;
    margin: 10px;
}
ul{
    font-size: x-large;
}