body {
    background-color: rgb(255, 255, 255);
    grid-template-areas:
        "nav nav nav"
        "hd hd hd"
        "mn mn mn"
        "ft ft";
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    grid-area: "nav";
    width: auto;
    justify-content: space-around;
    background-color: rgb(67, 5, 154);
    height: 15vh;
    color: white;
}

.menu {
    height: 100vh;
    width: 80vw;
    background: rgb(67, 5, 154);
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0, 0, 0, 0.75);
    z-index: 10;
    color: white;
    text-decoration: none;
}

.menu-button {
    cursor: pointer;
    display: none;
}

.xButton {
    display: none;
    cursor: pointer;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.menu-button i.material-icons {
    font-size: 2.5rem;
}

.show {
    left: 0;
}

.title {
    color: black;
    background-color: white;
    display: block;
    grid-area: "hd";
    text-align: center;
    height: 10vh;
    font-size: xx-large;
}

main{

}

.footer {
    display: flex;
    grid-area: ft;
    color: black;
    background-color: rgb(67, 5, 154);
    font-family: sans-serif;
    text-align: center;
    color: white;

}

.footer h3 {
    font-size: medium;
}

.footer img {
    width: auto;
    height: 50%;
    object-fit:scale-down;
}

.footer a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightcoral;
    text-decoration: underline;
}

.fade-layer.visible {
    display: block;
}

@media (max-width:800px) {

    .menu-button{
        display: flex;
        grid-area: "nav";
    }

    main {
        font-size: xx-large;
        margin: 6px;
        padding: 10px;
        font-family: sans-serif;
    }

    .title {
        background-color: rgb(58, 191, 153);
        display: block;
        grid-area: "hd";
        text-align: center;
        background-image: url('img/lecture.jpg');

    }

    body {
        grid-template-areas:
            "nav"
            "hd"
            "mn"
            "ft";
        width: auto;
        background-color: white;
    }

    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }

    .footer {
        display: grid;
        grid-area: ft;
        color: black;
        background-color: rgb(67, 5, 154);
        font-family: sans-serif;
        text-align: center;
        color: white;

    }

    .footer h3 {
        font-size: medium;
        padding: none;
        margin: none;
    }

    .footer img {
        width: auto;
    }

    .footer a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: lightcoral;
        text-decoration: underline;
    }
}